<header id="content-header">
  <h4>Memberships for <%= link_to @project.name, @project %></h4>
</header>

<ol id="registrations">
  <% @memberships.each do |membership| %>
    <li>
    
      <span class="date">
        <%= time_ago_in_words(membership.created_at) %> ago
      </span>
      <span class="how-heard">
        (<%= membership.responsible_role %>)    
      </span>
      <span class="how-heard">
        (<%= membership.user_id%>)    
      </span>
    </li>
  <% end %>
</ol>