<%= link_to("Create Strategic Goal", new_goal_path, :class => 'btn btn-default btn-sm') %>

<hr>
<h3>Listing Strategic Goals</h3>
<hr>

<% @goals_index.each do |goal| %>

  <div class="panel panel-info">
    <div class="panel-body">
    	<strong>Name:</strong> <%= goal.name %>
    </div>
  </div>
<% end %>