<div class="col-sm-9">
  <h3>Dashboard</h3>
  <hr>
  <div class="row">
    <div class="col-md-9">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </div><!--/col-md-7 center-left-->
    <div class="col-md-3">
<!--
      <%= render 'layouts/rigthside' %>
-->      
    </div><!--/col-md-5 center-rigth-->
  </div><!--/row inside col-sm-9-->
</div><!--/col-sm-9 rigth-->